<div class="form-container sign-up-container">
    <form action="#">
        <h1>Créer un Compte</h1>
        <div class="social-container"> 
            <a href="" class="social"><i class="fab fa-facebook-f"></i></a>
            <a href="" class="social"><i class="fab fa-google-plus-g"></i></a>
            <a href="" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>Oubien utlisez votre Email pour l'enregistrement</span>
        <input type="text" placeholder="Nom" required>
        <input type="email" pattern=".+kalanso\.com" placeholder="@kalanso.com" required>
        <input type="password" placeholder="Mot de passe" maxlength="12" pattern="(?=.*\d).{6,8}" required>
        <button>Enregistrement</button>
    </form>
</div>